.input{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: #D9D9D9 !important;
}

.tabs button{
    background-color: #D9D9D9;
    border: none;
}

.tabs button:has(.active){
    background-color: blue !important;
}

.tabs button a{
    color: black !important;
    font-weight: bold;
}



.registerButton{
    background-color: #3DB149 !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    border: none !important;
}

.cancelButton{
    background-color:  #FADC41 !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    border: none !important;
}

