.header-top{
  margin: 20px auto;
}
.navbar-dark {
  background-color: #3db149;
}
.nav-link {
  color: #fadc41;
  font-weight: bold;
}

.footer{
  background-color: #3db149;
  color: #fff;
  margin: 10px auto;
  padding: 20px 0px;
}