.header-top{
  margin: 10px auto;
}
.navbar-dark {
  background-color: #3db149;
  font-weight: bold;
}

.footer{
  background-color: #3db149;
  color: #fff;
  margin: 10px auto 0;
  padding: 20px 0px;
}